﻿/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px;
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

span.add-company {
    font-size: 20px;
    position: relative;
    top: -4px;
    cursor: pointer;
}

span.refresh-company {
    position: relative;
    cursor: pointer;
    font-size: 15px;
    margin-right: 8px;
    position: relative;
    top: -5px;
}

.action-icons {
}

span.action-icons .label {
    padding: .6em .6em .3em;
}

.action-icons i.fa {
    font-size: 15px;
    cursor: pointer;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #f3f2f2;
}

.navbar-inverse {
    background-color: #6495ed;
    border-color: #6495ed;
}

    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
        color: #fff;
        text-shadow: crimson;
        text-shadow: 2px 4px 8px #888;
        background-color: #daed64;
    }

.row {
    margin-top: 10px;
}
