﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>
                <span><b>Company details</b></span>
                <div class="pull-right">
                    <span class="refresh-company" data-toggle="modal" title="Refesh the list of companies"><i class="fa fa-refresh"></i></span>
                    <span class="add-company" data-toggle="modal" data-target="#addCompanyModel" title="Add new company"><i class="fa fa-plus-square-o"></i></span>
                </div>
            </span>
        </div>
        <div class="panel-body">
            <table cellspacing="0" cellpadding="0" class="table table-bordered table-condensed tbl_view_company_in_stock">
                <thead>
                    <tr>
                        <th>Company Id</th>
                        <th>Company Name</th>
                        <th>Contact Name</th>
                        <th>Address</th>
                        <th>Mobile</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addCompanyModel" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="modelTitle">Add Company</span></h4>
            </div>
            @* action="/api/ServiceAPI/addCompanyDetails" method="post" *@
            <form class="form-horizontal" id="addCompanyDetails" name="addCompanyDetails" novalidate >
                <div class="modal-body">
                    <div class="form-group hide">
                        <label class="control-label col-sm-2" for="companyId">Company Id :</label>
                        <div class="col-sm-10">
                            <input type="hidden" class="form-control" id="companyId" name="company_id" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="companyName">Company Name :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="companyName" name="company_name" value="" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="ctntName">Contact Name :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="ctntName" name="contact_name" value="" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="address">Address :</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="address" name="address" value="" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="mobile">Mobile :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="mobile" name="mobile" value="" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-warning">Reset</button>
                    <button type="submit" class="btn btn-success" name="btnSubmit" id="btnSubmit">Add</button>
                </div>
            </form>
        </div>

    </div>
</div>

@section Scripts
{
    <script src="~/Areas/StockIn/ScriptsJs/InStock.js"></script>   
}
